URL=https://tenant1.release.company-policy.com/
EMAIL=user@aa.com
PASSWORD=123

QA_TEST_LOGIN=qa2@itdelta.dev
QA_TEST_PASSWORD=123123

MAILHOG_HOST=tenant1.release.company-policy.com
MAILHOG_API_PORT=8025
MAILHOG_SMTP_PORT=1025
REGISTRATION_EMAIL=noreply@release.company-policy.com